<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Wu Tang Clan Directory">
    <meta name="author" content="Darwon Rashid">
    <link rel="icon" href="../static/images/favicon.ico">

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../static/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="../static/css/Article-List.css">
    <link rel="stylesheet" href="../static/css/Header-Blue.css">
    <link rel="stylesheet" href="../static/css/Projects-Clean.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Custom styles for this template -->

  </head>

  <body style="background-color: black;">
    <div class="header-blue" style="background-image:url(&quot;{{background}}&quot;); height:{{height}};">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="{{url_for('root')}}"><img src="{{url_for('static', filename='images/symbol.png')}}" height="42" width="42"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse ml-auto"
                    id="navcol-1">


                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Explore The Wu</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="{{url_for('meettheclan')}}">Meet The Clan </a><a class="dropdown-item" role="presentation" href="{{url_for('forum')}}">Meet The Community</a><a class="dropdown-item" role="presentation" href="{{url_for('albums')}}">Meet Their Craft</a>
                              
                            </div>
                        </li>
                    </ul>

                    <form method = "post" enctype="multipart/form-data"      class="form-inline mr-auto" action="{{url_for('searchPost')}}" >
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label>
                            <input class="form-control search-field" type="search" name="search" id="search-field">
                        </div>
                    </form>
                    {% if session['logged_in'] %}
                    <span class="navbar-text ml-auto"> <a href="{{url_for('logout')}}" class="login">Log Out</a>
                    {% else %}
                    <span class="navbar-text ml-auto"> <a href="{{ url_for('login') }}" class="login">Log In</a>
                    {% endif %}

            </div>
        </nav>
    </div>
    </div>




      <script src="../static/js/jquery.min.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>
  {% block content %} {% endblock %}
</body>
</html>
