{% extends "base.html" %}
{% block content %}

    <div>
    <div class="article-list" style="background-color:black;color:yellow;font-size:24px;">
        <div class="container">
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img src="assets/img/wutang1.jpeg" class="img-fluid" /></a>
                    <h3 class="name">Wu Tang Clan&nbsp;</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right" style="color:yellow;"></i></a></div>
                <div
                    class="col-sm-6 col-md-4 item"><a href="#"><img src="assets/img/wutang1.jpeg" class="img-fluid" /></a>
                    <h3 class="name">Meet The Clan</h3>
                    <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div
                class="col-sm-6 col-md-4 item"><a href="#"><img src="assets/img/wutang1.jpeg" class="img-fluid" /></a>
                <h3 class="name">About The Clan</h3>
                <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
    </div>
    </div>
    </div>

{% endblock %}
