
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
  
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="login-dark" style="background-image:url(&quot;none&quot;);background-color:black;">
        <form method="post" style="background-color:black;">
            <h1 style="color:Yellow;">Admin Login</h1>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Username">
              {% if errors|length != 0 %}
                {% for x in errors %}
                  <small class="form-text text-danger">{{x.nameError}}</small>
                {% endfor %}

              {% endif %}
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="Password">
              {% if errors|length != 0 %}
                {% for x in errors %}
                  <small class="form-text text-danger">{{x.passwordError}}</small>
                {% endfor %}

              {% endif %}
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div>
        </form>
    </div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
