{% extends "base.html" %}
{% block content %}


    <div class="projects-clean" style="background-color:rgb(6,6,6);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color:yellow;">Meet The Clan</h2>
                <p class="text-center" style="color:yellow;">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>


            <div class="row projects" style="color:Yellow;">
                {% for x in artist %}
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src={{x.clanPhoto}}>
                    <a href="{{url_for('showArtist', artistName = x.name )}}" class="meettheclan-a-style" >
                    <h3  class="name">{{x.name}}</h3>
                    </a>
                    <p class="description" style="color:white;">{{x.clanDescription}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
