{% extends "base.html" %}
{% block content %}
    <div>

    <div class="projects-clean" style="background-color:rgb(6,6,6);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color:yellow;">Meet The Clan</h2>
                <p class="text-center" style="color:yellow;">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row projects" style="color:Yellow;">
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src="../static/images/rza/rza2.jpg">
                    <a href="{{url_for('showArtist', artistName = "RZA")}}" class="meettheclan-a-style" >
                    <h3  class="name">RZA</h3>
                    </a>
                    <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style-gza" src="../static/images/gza/gza6.jpg">
                    <a href="{{url_for('showArtist', artistName = "GZA")}}" class="meettheclan-a-style" >
                    <h3 class="name">GZA</h3>
                    </a>
                    <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src="../static/images/methodman/methodman1.jpg">
                    <a href="{{url_for('showArtist', artistName = "Method Man")}}" class="meettheclan-a-style" >
                    <h3 class="name">Method Man</h3>
                  </a>
                    <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src="../static/images/raekwon/raekwon2.jpg">
                    <a href="{{url_for('showArtist', artistName = "Raekwon")}}" class="meettheclan-a-style" >
                    <h3 class="name">Raekwon</h3>
                    </a>
                    <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src="../static/images/odb/odb3.jpg">
                    <a href="{{url_for('showArtist', artistName = "odb")}}" class="meettheclan-a-style" >
                    <h3 class="name">Ol' Dirty Bastard</h3>
                    </a>
                    <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src="../static/images/ghostfacekillah/ghostfacekillah3.jpg">
                    <a href="{{url_for('showArtist', artistName = "Ghostface Killah")}}" class="meettheclan-a-style" >
                    <h3 class="name">Ghostface Killah</h3>
                    </a>
                    <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src="../static/images/inspectahdeck/inspectahdeck1.jpg">
                    <a href="{{url_for('showArtist', artistName = "Inspectah Deck")}}" class="meettheclan-a-style" >
                    <h3 class="name">Inspectah Deck</h3>
                    </a>
                    <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src="../static/images/ugod/ugod3.jpg">
                    <a href="{{url_for('showArtist', artistName = "U-God")}}" class="meettheclan-a-style" >
                    <h3 class="name">U-God</h3>
                    </a>
                    <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src="../static/images/mastakilla/mastakilla3.jpg">
                    <a href="{{url_for('showArtist', artistName = "Masta Killa")}}" class="meettheclan-a-style" >
                    <h3 class="name">Masta Killa</h3>
                    </a>
                    <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src="../static/images/cappadonna/cappadonna1.jpg">
                    <a href="{{url_for('showArtist', artistName = "Cappadonna")}}" class="meettheclan-a-style" >
                    <h3 class="name">Cappadonna</h3>
                    </a>
                    <p class="description" style="color:white;">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
