{% extends "base.html" %}
{% block content %}


<div class="projects-clean" style="background-color:rgb(6,6,6);">
    <div class="container">

        {% if artist|length != 0 %}
        <div class="intro">
          <h2 class="text-center" style="color:yellow;">Artist Results</h2>

        </div>
        {%endif%}
        <div class="row projects" style="color:Yellow;">
          {%for x in artist%}

            <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src={{x.clanPhoto}}>
                <a href="{{url_for('showArtist', artistName = x.name)}}" class="meettheclan-a-tyle">  <h3 class="name">{{x.name}}</h3></a>
                <p class="description" style="color:white;">{{x.clanDescription}}</p>
            </div>
            {% endfor %}




        </div>

        {% if albums|length != 0 %}
        <div class="intro">
          <h2 class="text-center" style="color:yellow;">Album Results</h2>
        </div>
        {%endif%}

        <div class="row projects" style="color:Yellow;">
            {%for x in albums%}
            <div class="col-sm-6 col-lg-4 item"><img class="img-fluid img-style" src={{x.albumCover}}>
                <a href="{{url_for('showAlbum', albumName = x.name)}}" class="meettheclan-a-style" >
                <h3  class="name">{{x.name}}</h3>
                </a>
                <p class="description" style="color:white;">{{x.albumDescription}}</p>
            </div>
            {% endfor %}

        </div>



    </div>
</div>

{% endblock %}
