{% extends "base.html" %}
{% block content %}

    <div style="background-color:black;color:Yellow;">
        <div class="container">
            <div class="row">

                {% if albums|length == 0%}
                    <h1>No Album Found with that name.</h1>
                {% endif %}

                {% for x in albums %}
                <div class="col-sm-6 item" ><img class="img-fluid img-style" src="{{x.albumCover}}"></div>

                <div class="col-md-6">
                    <h1>{{x.name}} By</h1>

                    <a href="{{url_for('showArtist', artistName = x.artistName )}}" class="meettheclan-a-style" >
                        <h3  class="name">{{x.artistName}}</h3>
                    </a>
                    <h3>Release Date: {{x.releaseDate}}</h3>
                    <h3>Executive Producer: {{x.executiveProducer}}</h3>
                    <h3>Album Length: {{x.albumLength}}</h3>
                    <br>
                    <p>{{x.albumBio}}</p>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
